<template name="checkoutFlow/paymentDetails">

  {{!-- HEADER --}}
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton text=false path="RouteNav.prev" class="button-light"}}
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
    <h1 class="title font-title color-on-primary">Checkout</h1>
  {{/contentFor}}

  {{!-- CONTENT --}}
  {{#ionView}}
    {{#ionContent}}
      <div class="checkoutFlow-paymentDetails">
        <h4 class="page-title">Payment details</h4>

        <form class="list">
          <label class="item item-input">
            <span class="input-label">Card Number</span>
            <input type="tel" name="number" placeholder="4242 4242 4242 4242" required>
          </label>

          <div class="row padding-zero">
            <div class="col-50">
              <label class="item item-input item-stacked-label">
                <span class="input-label">Exp. Month</span>
                <input type="tel" name="exp-month" placeholder="07" required>
              </label>
            </div>
            <div class="col-50">
              <label class="item item-input item-stacked-label">
                <span class="input-label">Exp. Year</span>
                <input type="tel" name="exp-year" placeholder="2018" required>
              </label>
            </div>
          </div>

          <label class="item item-input ">
            <span class="input-label">CVC</span>
            <input type="tel" name="cvc" placeholder="999" required>
          </label>

          <label class="item item-input item-stacked-label">
            <span class="input-label">Cardholder's Name (Optional)</span>
            <input type="text" name="name" placeholder="John Appleseed">
          </label>

          <button type="submit" value="submit" class="button button-full button-submit button-balanced">Submit</button>
        </form>
      </div>
    {{/ionContent}}
  {{/ionView}}
</template>
