<template name="project">
  {{#contentFor "headerTitle"}}
    <h1 class="title font-title color-on-primary"><img src="/logo_test2.png" height="25"></h1>
  {{/contentFor}}


  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton text=false path="homepage"}}
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="list">
        <form class="new-project">

          <label class="item item-input item-stacked-label">
            <span class="input-label"> Project Name </span>
            <input type="text" name="name" class="form-control">
          </label>


          <label class="item item-input item-stacked-label">
            <span class="input-label"> Project Tagline </span>
            <input type="text" name="tagline" class="form-control">
          </label>


          <label class="item item-input item-stacked-label">
            <span class="input-label">Image URL </span>
            <input type="text" name="thumbnailUrl" class="form-control">
          </label>


          <label class="item item-input item-stacked-label">
            <span class="input-label">Project Story </span>
            <textarea name="story" class="form-control" rows="3"> </textarea>
          </label>


          <label class="item item-input item-stacked-label">
            <span class="input-label">Project Latitude </span>
            <input type="text" name="latitude" class="form-control">
          </label>


          <label class="item item-input item-stacked-label">
            <span class="input-label">Project Longitude </span>
            <input type="text" name="longitude" class="form-control">
          </label>


          <label class="item item-input item-stacked-label">
            <span class="input-label">Charity Goal</span>
            <input type="text" name="goal" class="form-control">
          </label>


          <button type="submit" class="button button-block button-balanced" style="width:100%;">Create a Project</button>
        </form>
      </div>
    {{/ionContent}}
  {{/ionView}}
</template>
