<template name="homepage">
  {{#contentFor "headerTitle"}}
    <h1 class="title font-title color-on-primary"><img src="/logo_test2.png" height="25"></h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

    <a href="{{pathFor 'profile'}}">
      <div class="scroll-image row row-center" style="margin:0;background: url('/blue_bg.png') no-repeat center center;">
        <div class="full-scroll-inf">
          <h3>Buat profil siswa</h3>
          Hello world this is a subtext
        </div>
      </div>
    </a>

    <a href="{{pathFor 'project'}}">
      <div class="scroll-image row row-center" style="margin:0;background: url('/light_bg.png') no-repeat center center;">
        <div class="full-scroll-inf">
          <h3>Buat proyek</h3>
          Hello world this is a subtext
        </div>
      </div>
    </a>

    <div class="scroll-image row row-center" style="margin:0;background: url('/green_bg.png') no-repeat center center;">
      <div class="full-scroll-inf">
        <h3>Track my results</h3>
        Hello world this is a subtext
      </div>
    </div>

    <div class="scroll-image row row-center" style="margin:0;background: url('/ylow_bg.png') no-repeat center center;">
      <div class="full-scroll-inf">
        <h3>Track national results</h3>
        Hello world this is a subtext
      </div>
    </div>

    {{/ionContent}}
  {{/ionView}}
</template>
