<template name="homepage">
  {{#contentFor "headerTitle"}}
    <h1 class="title font-title color-on-primary"><img src="/logo_test2.png" height="25"></h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
    <div class="scroll-image row row-center" style="margin:0;padding:0;background: url('https://upload.wikimedia.org/wikipedia/commons/c/c0/Flag_Ceremony_at_School_in_Indonesia.JPG') no-repeat center center;">
      <div class="full-scroll-info"><h3>{{name}}</h3></div>
      </div>
    {{/ionContent}}
  {{/ionView}}
</template>
