<template name="deliveryMap">

  {{!-- HEADER --}}
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton text=false path="homepage" class="button-light"}}
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
    <h1 class="title color-on-primary">Delivery Map</h1>
  {{/contentFor}}

  {{!-- CONTENT --}}
  {{#ionView}}
    {{#ionContent}}
      <div class="full-content color-background">

        <div class="map-area">
          <div class="checkmap-container hide-on-keyboard-open">
            {{> googleMap name="confirmMap" options=confirmMapOptions}}
          </div>
        </div>

        {{! Hack to get address, TODO: Make it more effective}}
        <div class="address" data-lat="{{geocodeAddress.latitude}}" data-lng="{{geocodeAddress.longitude}}" data-type="pickuppoint"></div>
      </div>
    {{/ionContent}}
  {{/ionView}}
</template>
