<template name="mapTracking">
  {{#contentFor "headerTitle"}}
    <h1 class="title color-on-primary">Map Tracking</h1>
  {{/contentFor}}

  {{trackMap}}

  {{#ionView}}
    {{#ionContent}}
      <div class="map-container">
        {{> googleMap name="exampleMap" options=exampleMapOptions}}
      </div>
      <br/>
      <br/>
      --
      <b> Current Address: </b>
      <p>{{address}}</p>

      --
      <br/>
      {{currentLocation}}
      <br/>
      {{currentLocation.coords.latitude}}
      <br/>{{currentLocation.coords.longitude}}
      <br/>
      <br/>
      --
      <br/>
      {{lat}}
      {{lon}}
    {{/ionContent}}
  {{/ionView}}
</template>
